[Unit]
Description=Run autoclear on a fixed interval

[Timer]
OnBootSec=1m
OnUnitActiveSec=1h
Unit=autoclear.service
Persistent=true
AccuracySec=1s

[Install]
WantedBy=timers.target
